@import 'src/styles/sizes.scss';

.header {
  width: 100%;
  display: flex;
  position: fixed;
  height: $header-height;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
  top: 0;
  left: 0;
  z-index: 1000;
  .container {
    width: $max-width;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: inherit;
    padding: 0 15px;
    .user {
      display: flex;
      align-items: center;
      height: inherit;
      .button {
        cursor: pointer;
        border: 1px solid var(--background-text);
        background-color: transparent;
        color: var(--background-text);
        margin-left: 20px;
      }
    }
  }
}
