$button-size: 50px;

.jump-to-top-container {
  position: fixed;
  // appear in one position - without translate it whould grow from the corner
  transform: translate(50%, 50%);
  bottom: 15 + $button-size / 2;
  right: 15 + $button-size / 2;
  height: 0;
  width: 0;
  border-radius: 50%;
  border: 2px solid var(--background-text);
  background-color: var(--background);
  color: var(--background-text);
  cursor: pointer;
  z-index: 500;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  &.visible {
    height: $button-size;
    width: $button-size;
    opacity: 0.6;
    transition: all 0.2s ease-in-out;
    &:hover {
      opacity: 1;
    }
  }
  &:focus {
    outline: -webkit-focus-ring-color auto 0;
  }
}
