<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <label class="label">
    E-mail
    <input type="text" [formControlName]="LoginControl.USERNAME" autocomplete="on" placeholder="example@mail.address" />
    <div
      *ngIf="loginForm.get(LoginControl.USERNAME)?.hasError('required') && loginForm.controls[LoginControl.USERNAME]?.touched"
      class="invalid"
    >
      E-mail is a required field!
    </div>
    <div
      *ngIf="loginForm.get(LoginControl.USERNAME)?.hasError('pattern') && loginForm.controls[LoginControl.USERNAME]?.touched"
      class="invalid"
    >
      E-mail is not valid!
    </div>
  </label>
  <label class="label"
    >Password
    <input type="password" [formControlName]="LoginControl.PASSWORD" autocomplete="current-password" placeholder="your password" />
    <div
      *ngIf="loginForm.get(LoginControl.PASSWORD)?.hasError('required') && loginForm.controls[LoginControl.PASSWORD]?.touched"
      class="invalid"
    >
      Password is a required field!
    </div>
    <div
      [class.valid]="!loginForm.get(LoginControl.PASSWORD)?.hasError('uppercaseValidator')"
      [class.invalid]="
        loginForm.get(LoginControl.PASSWORD)?.hasError('uppercaseValidator') && loginForm.controls[LoginControl.PASSWORD]?.touched
      "
    >
      one uppercase
    </div>
    <div
      [class.valid]="!loginForm.get(LoginControl.PASSWORD)?.hasError('lowercaseValidator')"
      [class.invalid]="
        loginForm.get(LoginControl.PASSWORD)?.hasError('lowercaseValidator') && loginForm.controls[LoginControl.PASSWORD]?.touched
      "
    >
      one lowercase
    </div>
    <div
      [class.valid]="!loginForm.get(LoginControl.PASSWORD)?.hasError('numberValidator')"
      [class.invalid]="
        loginForm.get(LoginControl.PASSWORD)?.hasError('numberValidator') && loginForm.controls[LoginControl.PASSWORD]?.touched
      "
    >
      one digit
    </div>
    <div
      [class.valid]="!loginForm.get(LoginControl.PASSWORD)?.hasError('legnthValidator')"
      [class.invalid]="
        loginForm.get(LoginControl.PASSWORD)?.hasError('legnthValidator') && loginForm.controls[LoginControl.PASSWORD]?.touched
      "
    >
      at least 6 characters
    </div>
  </label>
  <button [disabled]="!loginForm.valid" type="submit">Submit</button>
</form>
