@import 'src/styles/viewports.scss';

$overlay-i-index: 2000;
.overlay {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--overlay);
  z-index: $overlay-i-index;
}
.dialog {
  position: fixed;
  z-index: $overlay-i-index + 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--background);
  border-radius: 5px;
  padding: 10px;
  max-width: 700px;
  // 10 pedding
  width: calc(100% - 20px);
  max-height: calc(100vh - 20px);
  overflow-x: auto;
  .header {
    height: 40px;
    display: flex;
    justify-content: flex-end;
    .close-button {
      cursor: pointer;
      border: none;
      background-color: transparent;
      height: inherit;
      fill: var(--background-text);
      height: 40px;
      width: 40px;
      padding: 0;
      .close-icon {
        fill: var(--background-text);
        width: 25px;
        height: 25px;
      }
    }
  }
  .content {
    display: flex;
  }
}

@media screen and (min-width: $medium-min) and (min-width: $medium-min) {
  .dialog {
    // 20 pedding
    width: calc(100% - 40px);
  }
}

@media screen and (min-width: $large-min) {
  .dialog {
    width: 700px;
  }
}
